.Container {
    margin: 0 auto;
    text-align: center;
}

.Bio {
    font-size: 2rem;
}
.Bio span {
    font-family: 'Galada', cursive;
}
.Bio a, .Bio a:visited {
    font-family: 'Galada', cursive;
    color: #7300E6;
    text-decoration: none;
}