.Wrapper {
    width: 90%;
    padding: 3%;
    border: 1px solid rgba(175, 156, 195, 0.8);
    margin: 5% auto;
    border-radius: 1rem;
}

.Dropzone {
    width: 100%;
    padding: 0 4%;
    border-radius: 1rem;
    background-color: rgba(175, 156, 195, 0.2);
    border: none;
    -webkit-box-shadow: 2px 3px 4px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 3px 4px -2px rgba(0,0,0,0.45);
    box-shadow: 2px 3px 4px -2px rgba(0,0,0,0.45);  
}

.StatusText {
    text-align: left;
    margin-top: 0;
    text-indent: 2%;
}

.InputLabel, .InputLabelWithFiles {
    color: #553D70;
    font-family: inherit;
    text-decoration: underline;
    margin: 0;
    font-size: 1rem;
}
.InputLabelWithFiles {
    background-color: transparent;
    align-self: center;
}

.PreviewContainer {
    padding: 5% 0;
}
.PreviewImage {
    max-height: 90px;
    max-width: 100px;
}

.SubmitButton {
    background-color: rgba(175, 156, 195, 0.4);
    border-radius: 1rem;
    color: #553D70;
    padding: 5% 20%;
    margin: 0 auto;
    width: 100%;
}
.SubmitButtonContainer {
    width: 30%;
}

